/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_heading {
  padding : 25px 25px;
}

.home_content {
  margin-left: 50px;
  line-height: 60px;
}

.full_box {
  margin: 30px; 
}

.index_flash_message {
  color: green;
  padding-left: 50px;
  padding-bottom: 30px;
}

.book_contents_heading {
  display: flex;
  margin-top: 15px;
}

.book_title_heading {
  width: 200px;
  text-align: center;
}

.book_body_heading {
  width: 400px;
  text-align: center;
}

.main_box {
  margin-top: 10px;
  margin-bottom: 20px;
}

.book_box {
  display: flex;
}

.book_title {
  width: 200px;
}

.book_body {
  width: 400px;
}

.new_heading {
  margin-bottom: 10px;
}

.new_body {
  margin: 5px 0;
}

.book_show {
  padding: 40px 60px;
}

.flash_message {
  color: green;
  margin-bottom: 30px;
}

.book_show_title {
  display: flex;
  margin-bottom: 40px;
}

.book_show_body {
  display: flex;
}

.book_show_link {
  padding: 20px;
}

.edit_box {
  margin: 10px 0;
}

.edit_body {
  margin: 5px 0;
}